<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- VUE -->
    <script src="https://unpkg.com/vue@3.3.4/dist/vue.global.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="style.css">
    
    <title>Carosello Mono Array</title>
</head>
<body>
    <div id="app">
        <!-- Contenitore principale -->
        <div class="main-wrapper">

            <!-- Contenitore del carosello -->
            <div class="container">

                <!-- Slider del carosello -->
                <div class="slider">

                    <!-- Contenitore degli elementi del carosello -->
                    <div class="items-wrapper">
                        <!-- Uttilizzo la direttiva v-for per ciclare attraverso le immagini -->
                        <div v-for="(image, index) in images" :key="index" class="item" :class="{ 'hide': index !== currentIndex }">
                            <img :src="image.image" :alt="image.title">
                            <h2>{{ image.title }}</h2>
                            <p>{{ image.text }}</p>
                        </div>
                    </div>

                    <!-- Pulsante freccia sinistra -->
                    <div class="btn-arrow left" @click="prevSlide">&larr;</div>
                    <!-- Pulsante freccia destra -->
                    <div class="btn-arrow right" @click="nextSlide">&rarr;</div>

                    <!-- Contenitore per i cerchi -->
                    <div class="circles">
                        <!-- Uttilizzo v-for per ciclare attraverso le immagini e v-bind per associare la classe 'active' in base all'immagine corrente -->
                        <div v-for="(image, index) in images" :key="index" class="circle" :class="{ 'active': index === currentIndex }" @click="changeSlide(index)"></div>
                    </div>
                </div>
            </div>

        </div>

        

    </div>
   
    <!-- JS -->
    <script src="script.js"></script>
</body>
</html>